.contact-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.contact-container h1,
.contact-container h2{
    align-self: center;
}

.contact-container h1{
    color: var(--title-yellow);
}

.contact-container button{
    align-self: flex-end;
}

.contact-container form{
    display: grid;
    grid-template-columns: 200px auto;
    row-gap: 20px;
    margin: 20px 0;
}

input, textarea{
    font-family: inherit;
    padding: 10px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%
}

textarea{
    resize: vertical;
}

button{
    padding: 10px 30px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
}

button:hover{
    background-color: var(--title-yellow);
    color: white;
    transform: scale(1.1);
}

.error{
    color: red;
    position: absolute;
    transform: translateY(-16px);
}

.error-field{
    border: 2px solid red
}

/* mobile */
@media only screen and (max-width: 500px){
    .contact-container form{
        grid-template-columns: 120px auto;
    }
}